.form-item, .item {
  width: 30%;
  padding: 20px 0;
}

.form-item label {
  display: inline-block;
  vertical-align: top;
}

.label {
  font-weight: bold;
}

table#food-list th {
  width: 150px;

}

table th,
table td {
  vertical-align: top;
  text-align: left;
}

table, th, td {
border: 1px solid black;
}

table {
border-collapse:collapse;
}

table,th, td {
border: 1px solid black;
}